<h1>New Posts</h1>

<!-- pe (tab)  ff(tab)[must put in =] ffl(tab) fftf(tab) ffta(tab)  ffs(tab)     -->
    <%= form_for :post, url: posts_path do |f|  %>
        <p>
            <%= f.label :title  %> <br>
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :body %> <br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit  %>
        </p>
<% end %>

